# Core
streamlit>=1.32.0
pandas>=2.2.0
numpy>=1.24.0
scipy>=1.10.0
faker>=37.4.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv

# # Visualisation
plotly>=5.18.0
# networkx>=3.2.0
# matplotlib>=3.7.0

# AutoML
joblib>=1.5.0
scikit-learn>=1.7.0
flaml==2.3.4
xgboost==3.0.1

# AI
langchain-experimental==0.3.4
langchain==0.3.*
langchain-openai==0.3.28
pydantic-ai>=0.4.9

# # Streamlit plugins for interactivity & terminal display
# streamlit-plotly-events
# git+https://github.com/takahc/streamlit-terminal